extends layout

block content
	nav.navbar.navbar-default(role="navigation")
		div.container-fluid
			div.navbar-header
				a.navbar-brand(href="#") Pingimus
			div.collapse.navbar-collapse
				p.navbar-text#username /name
				p.navbar-text#follower /follower
				p.navbar-text#status /status

	div.main
		div.canvas
			canvas#cvp
		ul(id="messages")


	div.footer
		form(action="")
			input(id="m" autocomplete="off" autofocus float="left")
			button Send

	script(src="/javascripts/Picture.js")
	script(src="/javascripts/scripts.js")
