extends layout

block content
	h1= title

	div.canvas
		canvas#cvp
	ul(id="messages")
	form(action="")
		input(id="m" autocomplete="off" autofocus float="left")
		input(id="user" float="right")
		button Send
	script(src="/javascripts/Picture.js")
	script(src="/javascripts/scripts.js")
