extends layout

block content
	h1= title
	p Welcome to #{title}

	div.canvas
		canvas#cvp
	ul(id="messages")
	form(action="")
		input(id="m" autocomplete="off" autofocus)
		button Send

	script(src="/javascripts/Picture.js")
	script(src="/javascripts/scripts.js")
