extends layout

block content
	h1= title
	p Welcome to #{title}

	ul(id="messages")
	form(action="")
		input(id="m" autocomplete="off" autofocus)
		button Send
	script.
		var socket = io();
		$('form').submit(function(){
		  // send input
		  socket.emit('chat message', $('#m').val());
		  // clear input
		  $('#m').val('');
		  return false;
		});
		socket.on('chat message', function(msg){
		  // receive message
		  $('#messages').append($('<li>').text(msg));
		});
