extends layout

block content
	nav.navbar.navbar-default(role="navigation")
		div.container-fluid
			div.navbar-header
				a.navbar-brand(href="#") Pingimus
			div.collapse.navbar-collapse
				p.navbar-text 
					a#reload(href="#") reload
				p.navbar-text#username #{username}
				p.navbar-text#follower /follower
				p.navbar-text#status /status
				p.navtopright
					a(href="/logout") Logout

	div.main
		div.canvas
			canvas#cvp
		ul(id="messages")


	div.footer
		form(action="")
			input(id="cmd" autocomplete="off" autofocus float="left")
			button Send

	script(src="/javascripts/Picture.js")
	script(src="/javascripts/simplify.js")
	script(src="/javascripts/scripts.js")
